input[type=radio] {
  vertical-align: middle;
  margin-right: 0.5rem;
}

body.logged_in {
  &.new, &.create, &.edit, &.update {
    .input li.choice {
      display: inline-block;
      margin: 0 1rem 0 0;
    }
  }
}

body.logged_in.edit.review_orders .input .label {
  padding-top: 2px
}

.flash a {
  text-decoration: underline;
  color: white;
}

.panel_link {
  float:right;
  margin-top: -1.5rem;
}

table.index {
  tr.odd {
    background-color: rgba(0, 0, 0, 0.02);
  }
  th, td {
    text-align: center;
  }

  td.right {
    text-align: right;
  }
  td.left {
    text-align: left;
  }
}

.sidebar {
  .panel_contents th {
    padding: 0px 8px;
  }
}

.scopes {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  .table_tools_segmented_control {
    display: flex;
    flex-wrap: wrap;
    li a {
      margin-top: 10px;
    }
    li:first-child a {
      margin-left: 10px;
    }
  }
}
