.status_tag {
  &.enabled {
    background: $success-color;
  }
  &.cancelled {
    background: $warning-color;
  }
  &.trashed {
    background: $error-color;
  }
  &.member {
    background: $almost-success-color;
  }
  &.fraudulent {
    background: $error-color;
  }
  &.mistake {
    background: $error-color;
  }

  &.ok {
    background: $success-color;
  }
  &.issues {
    background: $warning-color;
  }
  &.error {
    background: $error-color;
  }

  &.verified {
    background: $success-color;
  }
  &.admin_issues {
    background: $warning-color;
  }
  &.failing {
    background: $error-color;
  }

  &.open {
    background: $error-color;
  }
  &.fixed {
    background: $success-color;
  }
}