
#utility_nav {
  #issues_read, #issues_unread {
    a {
      visibility: hidden;
      position: relative;
      width: 50px;
      height: 49px;
      display: inline-block;

      &:before {
        @include icon("\f0f3");

        display: inline;
        visibility: visible;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        color: $text-color;
        padding: 15px 0;
        text-align: center;
        width: 50px;
        font-size: 20px;
      }

      @media screen and (min-width: $sm-width) {
        width: 60px;
        height: 59px;

        &:before {
          padding: 20px 0;
          width: 60px;
        }
      }
    }
  }
  #issues_unread a:before {
    color: $error-color;
  }

  #user_jobs {
    a {
      visibility: hidden;
      position: relative;
      width: 50px;
      height: 49px;
      display: inline-block;

      &:before {
        @include icon("\f013");

        display: inline;
        visibility: visible;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        color: $text-color;
        padding: 15px 0;
        text-align: center;
        width: 50px;
        font-size: 20px;
      }

      @media screen and (min-width: $sm-width) {
        width: 60px;
        height: 59px;

        &:before {
          padding: 20px 0;
          width: 60px;
        }
      }
    }
  }

  #user_jobs.running a:before {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
}
