.relevant {
  th, td {
    font-weight: bold;
  }
}

.choose_person {
  text-align: center;
  margin: 12px;

  label {
    display: inline-block;
    padding: 12px;
    color: $error-color;

    &:before {
      @include icon("\f057");
      margin: 6px;
    }
    @include secondary-button($error-color);
  }

  input {
    display: none;

    &:checked + label {
      &:before {
        @include icon("\f058");
        color: white;
        margin: 6px;
      }
      @include primary-button($primary-color, white);
    }
  }
}

span.issue_icon {
  &:before {
    @include icon("\f071");
    color: $warning-color;
  }
  &.gone:before {
    @include icon("\f12a");
    color: $disable-color;
  }
  &.fixed:before {
    @include icon("\f12a");
    color: $success-color;
  }
  &.closed:before {
    @include icon("\f12a");
    color: $error-color;
  }
}
