
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

@import "activeadmin_addons/all";

@import "_colors";

// Active Admin's got SASS!
@import "arctic_admin/base";
@import "data_picker";

@import "_attachments";
@import "_issues";
@import "_status_tag";
@import "_versions";

input[type=radio] {
  vertical-align: middle;
  margin-right: 0.5rem;
}

body.logged_in.new .input li.choice,
body.logged_in.edit .input li.choice {
  display: inline-block;
  margin: 0 1rem 0 0;
}

body.logged_in.edit.review_orders .input .label {
  padding-top: 2px
}

.flash a {
  text-decoration: underline;
  color: white;
}

.panel_link {
  float:right;
  margin-top: -1.5rem;
}

table.index {
  th, td {
    text-align: center;
  }

  td.right {
    text-align: right;
  }
  td.left {
    text-align: left;
  }
}